html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Принудительное позиционирование контейнера с кнопками масштаба */
.ymaps3-controls {
    position: absolute !important;
    right: 15px !important;
    top: 100px !important;
    left: auto !important;
    bottom: auto !important;
}
